img{
  display: block;
   width: 100%;
   height: 100%;
}
body{
  background-image: url("http://i.imgur.com/CFjU41M.jpg");
  background-repeat: repeat-y;
  background-size: auto;
  background-position: bottom;

}
input{
  margin: 15px;
  text-decoration-style: solid;
  text-decoration: none;
}
h1,h2{

}
.container{
  background-color: teal;
}
.card{
  margin-top:15px
}
#time{

}
